<div class = "col-md-12">
<%= render  "shared/header" %>
</div class= "col-md-12">
		<div class="col-md-6">
      <%= render 'form' %>

		</div>
		<div class="col-md-6">
      <iframe
      width="100%"
      height="450"
      frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATCrqar9p5PgNmkm6877OEZruH07KniKA
          &q=Maropost+Office" allowfullscreen>
      </iframe>
		</div>
  </div>

    <%= render "shared/footer"%>
  </div>
