<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You For Your Time</h1>
    <p>
      Thank You for contact us ,<%=@user.name%>,we will be in touch with you as soon as possible.<br>
    </p>

    <p>Thanks for contact us and have a great day!</p>
  </body>
</html>
