<div class="row footer">
<div class="col-md-6">

  <address class="address-footer">
     <strong> MAROPOST India Pvt. Ltd.</strong><br /> Plot No A-45, Atrium Quark, G Floor -Zone A, Ind. Area<br /> Phase 8B, Mohali, Punjab, India<br /> <abbr title="Phone">P:</abbr> 1.888.438.3152
  </address>
</div>
<div class="col-md-6">
  <h3>
     Lorem ipsum dolor sit amet.
  </h3>
</div>
</div>
