<div class="row footer">
<div class="col-md-6">

  <address class="address-footer">
     <strong> MAROPOST India Pvt. Ltd.</strong><br /> Plot No A-45, Atrium Quark, G Floor -Zone A, Ind. Area<br /> Phase 8B, Mohali, Punjab, India<br /> <abbr title="Phone">P:</abbr> 1.888.438.3152
  </address>
</div>
<div class="col-md-6">
  <h4 class= "footer-center">
     © 2017 Maropost Inc. All rights reserved. | <a href="<%= contact_details_path%>" class="footer-link-color">Contact Us</a>
  </h4>
</div>
</div>
