<ul class="nav nav-tabs">
  <li class="active">
    <a href="<%= root_path%>">Home</a>
  </li>
  <li>
    <a href="#">Gallery</a>
  </li>
  <li>
    <a href="#">Contact Us</a>
  </li>
  <li class="dropdown pull-right">
     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Action<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Log Out</a>
      </li>
    </ul>
  </li>
</ul>
