			<%= render "form"%>
      <div class="col-md-8">
        <h1>Gallery</h1>
      </div>
      <div class="col-md-4">
      <p>  <%= paginate @gallery_all %> </p>
      </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-hover">
      				<thead>
      					<tr>
      						<th>
      							#
      						</th>
      						<th>
      							Name
      						</th>
                  <th>
      							Image
      						</th>
                  <th colspan ="2">
                    Action
                  </th>
      					</tr>
      				</thead>
              <tbody>
                <% if @gallery_all.present? %>
                  <% @gallery_all.each do |gallery| %>
                  <%= render partial: "gallery",locals: { gallery: gallery} %>
                  <% end%>
                <%else%>
                <p> No Photo is available</p>
                <% end%>
              </tbody>
            </table>
            </div>
          </div>
		</div>
	</div>
