// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer{
  background-color: #337ab7;
  color: white;
  text-align: center;
}
.description{
  margin-top: 10px;
}
.address-footer{
  padding: 10px;
}
